*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-bg: black;
  --main-color: pink;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--main-color);
  background-color: var(--main-bg);
}