*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --main-bg: rgb(29, 28, 28);
  --main-color: rgb(90, 151, 255);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--main-color);
  background-color: var(--main-bg);
}

.contenedor{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button{
  border-radius: 5px;
  background-color: var(--main-color);
  height: 30px;
}

button:hover{
  background-color: rgb(110, 160, 247);
}