*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --main-bg: rgb(29, 28, 28);
  --main-color: rgb(90, 151, 255);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--main-color);
  background-color: var(--main-bg);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.contenedor{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

button{
  border-radius: 5px;
  background-color: var(--main-color);
  height: 30px;
}

button:hover{
  background-color: rgb(110, 160, 247);
}
/* ------------------------------------ */

.msj-contenedor{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: #1b1b1b;

  position: relative;
  width: 100%;
}

.x{
  position: absolute;
  top: 0px;
  right: 0px;

  padding: 5px;
  height: 22px;
  color: #063ffc;
  border: 1px solid rgba(250, 250, 250, 0);
  background-color: #ffffff00;
}

.x:hover{
  color: red;
  background-color: #ffffff00;
}

.mistake{
  background-color: pink;
}

.good{
  background-color: lightgreen;
}

.hiden{
  display: none;
}

/* header */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}