*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-color:rgb(205 217 229);
  --color-2:rgb(205 217 229);
  --color-3:rgb(99 110 123);
  --main-bg-color: rgb(45 51 59);
  --bg-color-header:rgb(28 33 40);
  --green-color:rgb(81 157 85);
  --blue-text:rgb(83 155 245);
  --blue-text-2:rgb(79 146 228);
  --bg-color-hover:rgba(99, 110, 123, 0.384);
  --border: rgba(247, 247, 247, 0.205);
  --transition: all 0.3s linear;
}
h1,h2,h3,h4{
  color: var(--main-color);
}
p{
  color: var(--color-3);
}
a{
  list-style: none;
  color: var(--main-color);
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-bg-color);

  width: 100vw;
  height: 100vh;
}

/* header--------------------------- */

header{
  display: flex;
  align-items: center;
  
  background-color: var(--bg-color-header);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--border);
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-div{
  display: flex;
  gap: 5px;
  margin-left: 10px;
}

/* toggle btn */
svg{
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--main-color);
}

.toggleBtn{
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
/* toggle btn */

.links{
  height: 0;
  overflow: hidden;
}

.linksTgl{
  display: flex;
  justify-content: center;
  
  height: 30px;
  width: 90%;
  border-radius: 5px;
  padding: 4px;
}

.linksTgl:hover{
  background-color: var(--bg-color-hover);
}

.directorio{
  overflow: hidden;
  height: 0;
  
  position: fixed;
  top: 55px;
  width: 100%;
  
  background-color: var(--bg-color-header);
  transition: height 0.3s;
}

.directorioTgl{
  display: flex;
  padding: 10px 0 10px 0;
  gap: 5px;
  top: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  
  height: 180px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.473);
  transition: height 0.3s;
}
/* header--------------------------- */

/* main ---------------------------- */
main{
  height: 100%;
}

.estela{
  overflow: hidden;
  height: 0;
}

.estelaTgl{
  position: fixed;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-hover);
  z-index: 2;
}
/* main ---------------------------- */


@media screen and (min-width: 600px) {
  /* solo como ejemplo momentaneo */
  .directorio{
    overflow: visible;
    display: flex;
    position: inherit;
    justify-content: center;
    align-items: center;

    gap: 20px;

  }
  .links{
    overflow: visible;
    height: auto;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
  }
  .links:hover{
    background-color: var(--bg-color-hover);
  }

  .toggleBtn{
    display: none;
  }

  .logo-div{
    display: flex;
    flex-direction: wrap;
    gap: 5px;
    margin-left: 10px;
    width: 200px;
  }

}
























/* @media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .signin-btn {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}
 */