*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-color:rgb(205 217 229);
  --color-2:rgb(205 217 229);
  --color-3:rgb(99 110 123);
  --main-bg-color: rgb(45 51 59);
  --bg-color-header:rgb(28 33 40);
  --green-color:rgb(81 157 85);
  --blue-text:rgb(83 155 245);
  --blue-text-2:rgb(79 146 228);
  --bg-color-hover:rgba(99, 110, 123, 0.384);
  --border: rgba(247, 247, 247, 0.205);
  --transition: all 0.3s linear;
}
h1,h2,h3,h4{
  color: var(--main-color);
}
p{
  color: var(--color-3);
}
a{
  list-style: none;
  color: var(--main-color);
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  
  background: var(--main-bg-color);
  color: var(--main-color);
  width: 100vw;
  height: 100vh;
}

header{
  width: 100%;
  background-color: var(--bg-color-header);
  z-index: 5;
}

header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;

  border-bottom: 1px solid var(--border);
  z-index: 5;
}

/* estela translusida para el evento click over  */
.over-lide{
  display: flex;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 40px;
  background-color: var(--bg-color-hover);

  z-index: 4;
}

/* .another{
  background-color: var(--bg-color-hover);
  border: 1px solid rgb(0, 38, 255);
  width: 100%;
  height: 100%;
} */

.divp{
/*   overflow: hidden; */
  width: 90%;

  padding: 5px;
  border-radius: 5px;
  text-align: center;
  color: var(--main-color);


  transition: height 1.5s;
}

.divpToggle{
  display: flex;

  height: 40px;
  transition: all 0.3s;
}

.divp:hover{
  background-color: var(--bg-color-hover);
}


















/* .hide{
  display: none;
  overflow: hidden;
  height: 0;
} */

svg{
  width: 20px;
  height: 20px;
  fill: var(--main-color);
  fill-opacity: 1.2;
}

.toogleBtn{
  background-color: transparent;
  border: none;
  padding: 5px;
}

.divNav{
  height: 0;
  width: 0;
  overflow: hidden;
}

.divNavToggle{
  overflow: visible;
/* ----------- */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--main-bg-color);
  position: fixed;
  z-index: 2;

  width: 100%;
  height: 200px;

  top: 40px;
  gap: 10px;

  padding: 20px;
  border-radius: 0 0 10px 10px;

  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.4);
/* ----------- */
  
  transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: bottom;
}

/* example */
/* .links{
  height: 0;
  overflow: hidden;
  transition: all o.3s;
}

 */







/* parte del logo */

.logo-div{
  display: flex;
  gap: 5px;
  margin-left: 5px;
}

/* main */
main{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  z-index: -1;
}
