*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-color:rgb(205 217 229);
  --color-2:rgb(205 217 229);
  --color-3:rgb(99 110 123);
  --main-bg-color: rgb(45 51 59);
  --bg-color-header:rgb(28 33 40);
  --green-color:rgb(81 157 85);
  --blue-text:rgb(83 155 245);
  --blue-text-2:rgb(79 146 228);
  --bg-color-hover:rgba(99, 110, 123, 0.384);
  --border: rgba(247, 247, 247, 0.205);
  --transition: all 0.3s linear;
}
h1,h2,h3,h4{
  color: var(--main-color);
}
p{
  color: var(--color-3);
}
a{
  list-style: none;
  color: var(--main-color);
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-bg-color);

  width: 100vw;
  height: 100vh;
}

header{
  display: flex;
  align-items: center;

  background-color: var(--bg-color-header);
  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--border);
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-div{
  display: flex;
  gap: 5px;
  margin-left: 10px;
}

.links{
  overflow: hidden;
  height: 0;
  transition: height 0.3s;
}

.linksTgl{
  display: flex;
  justify-content: center;

  height: 30px;
  width: 90%;
  border-radius: 5px;
  padding: 4px;

  transition: height 0.3s;
}

.linksTgl:hover{
  background-color: var(--bg-color-hover);
}

.directorio{
  overflow: hidden;
  height: 0;
  
  position: fixed;
  top: 40px;
  width: 100%;
  
  background-color: var(--bg-color-header);
  transition: height 0.3s;
}

.directorioTgl{
  display: flex;
  padding: 10px 0 10px 0;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;

  height: auto;
  transition: height 0.3s;
}






/* main */
main{
  height: 100%;
}

.estela{
  overflow: hidden;
  height: 0;
}

.estelaTgl{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-hover);
  z-index: 2;
}





























































/* toggle btn */
svg{
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--main-color);
}

.toggleBtn{
  background-color: transparent;
  border: transparent;
  margin-right: 10px;
}
/* toggle btn */