*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-color:#1f2328;
  --color-2:#6e767e;
  --color-3:#80868e;
  --main-bg-color: #ffffff;
  --bg-color-header:#f6f8fa;
  --green-color:rgb(81 157 85);
  --blue-text:rgb(83 155 245);
  --blue-text-2:rgb(79 146 228);
  --bg-color-hover:#6d6d6d1e;
  --border: rgba(107, 107, 107, 0.281);
}

h1,h2,h3,h4{
  color: var(--main-color);
}
p{
  color: var(--color-3);
}
a{
  list-style: none;
  color: var(--main-color);
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-bg-color);

  width: 100vw;
  height: 100vh;
}

/* header--------------------------- */

header{
  display: flex;
  align-items: center;
  
  background-color: var(--bg-color-header);
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--border);
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-div{
  display: flex;
  gap: 5px;
  margin-left: 10px;
}

/* toggle btn */
svg{
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--main-color);
}

.toggleBtn{
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
/* toggle btn */

.links{
  height: 0;
  overflow: hidden;
}

.linksTgl{
  display: flex;
  justify-content: center;
  
  height: 30px;
  width: 90%;
  border-radius: 5px;
  padding: 4px;
}

.linksTgl:hover{
  background-color: var(--bg-color-hover);
}

.directorio{
  overflow: hidden;
  height: 0;
  
  position: fixed;
  top: 55px;
  width: 100%;
  
  background-color: var(--bg-color-header);
  transition: height 0.3s;
}

.directorioTgl{
  display: flex;
  padding: 10px 0 10px 0;
  gap: 5px;
  top: 55px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  
  height: 180px;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--border);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.473);
  transition: height 0.3s;
}
/* header--------------------------- */

/* main ---------------------------- */
main{
  height: 100%;
}

.estela{
  overflow: hidden;
  height: 0;
}

.estelaTgl{
  position: fixed;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.103);
  z-index: 2;
}
/* main ---------------------------- */
