*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-color:rgb(189, 192, 34);
  --main-bg-color: rgb(25, 25, 41);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  width: 100vw;
  height: 100vh;
}

header{
  width: 100%;
}

header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid pink;
}

.navList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid greenyellow;
  position: absolute;/* ----------------- */
  z-index: 1;

  width: 100%;
  top: 40px;
}

.styleMode{
  width: 100%;
  text-align: center;
  height: 30px;
}

.styleMode:hover{
  background-color: white;
}



















.hide{
  display: none;
}

svg{
  width: 20px;
  height: 20px;
  fill: var(--main-color);
  fill-opacity: 1.2;
}

.toogleBtn{
  background-color: transparent;
  border: 1px solid pink;
  padding: 5px;
}











/* parte del logo */

.logo-div{
  display: flex;
  gap: 5px;
  margin-left: 5px;
}







@media screen and (min-width: 800px) {
  /* solo como ejemplo momentaneo */
  header{
    display: none;
  }
}
























/* @media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .signin-btn {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}
 */