*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --main-color:#1f2328;
  --color-2:#6e767e;
  --color-3:#80868e;
  --main-bg-color: #ffffff;
  --bg-color-header:#f6f8fa;
  --green-color:rgb(81 157 85);
  --blue-text:rgb(83 155 245);
  --blue-text-2:rgb(79 146 228);
  --bg-color-hover:#6d6d6d1e;
  --border: rgba(107, 107, 107, 0.281);
}

h1,h2,h3,h4{
  color: var(--main-color);
}
p{
  color: var(--color-2);
}
a{
  list-style: none;
  color: var(--main-color);
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--main-bg-color);
  max-width: 100vw;
}

/* header--------------------------- */

header{
  display: flex;
  align-items: center;
  
  background-color: var(--bg-color-header);
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--border);
  z-index: 10;
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-div{
  display: flex;
  gap: 5px;
  margin-left: 10px;
}

/* toggle btn */
svg{
  width: 20px;
  height: 20px;
  background-color: transparent;
  fill: var(--main-color);
}

.toggleBtn{
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-right: 5px;
}
/* toggle btn */

.links{
  height: 0;
  overflow: hidden;
}

.linksTgl{
  display: flex;
  justify-content: center;

  height: 30px;
  width: 90%;
  border-radius: 5px;
  padding: 4px;
}

.linksTgl:hover{
  background-color: var(--bg-color-hover);
}

.directorio{
  overflow: hidden;
  height: 0;
  
  position: absolute;
  top: 70px;
  width: 100%;
  
  background-color: var(--bg-color-header);
  transition: height 0.3s;
}

.directorioTgl{
  display: flex;
/*   padding: 10px 0 10px 0; */
  gap: 5px;
  top: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  
  height: 180px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.473);
  transition: height 0.3s;
}
/* header--------------------------- */

/* main ---------------------------- */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.contenedor{
  display: flex;

  margin-top: 10px;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;

  width: 100%;

}

input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--border);
  color: var(--main-bg-color);
  width: 100%;
}

input::placeholder{
  color: rgba(0, 0, 0, 0.363);
}

a:hover{
  color: var(--blue-text-2);
}

#guardar{
  margin-top: 10px;
  padding: 5px;
  background-color: var(--bg-color-header);
  color: var(--main-color);
  border: 1px solid var(--border);
  border-radius: 5px;
  width: 100%;
}

#guardar:hover{
  background-color: var(--bg-color-hover);
}

.estela{
  overflow: hidden;
  height: 0;

}

.estelaTgl{
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-hover);
  z-index: 2;
}
/* estilo mensajes fetch */

.mensajes-fetch{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;

  border-bottom: 1px solid var(--border);
  width: 100%;
  text-align: center;
  height: 40px;
}

.tarea-exito p{
  color: var(--bg-color-header);
}

.tarea-exito{
  background-color: lightgreen;
}

.tarea-error{
  background-color: pink;
}

/* estilo mensajes fetch */

/* estilo tareas----------------------- */

.lista-tareas{
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.tarea-individual{
  display: flex;
  justify-content: space-between;
  gap: 10px;

  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border);
}

.botones-edicion{
  display: flex;
  flex-direction: column;
}

.btn{
  background-color: var(--bg-color-header);
  color: var(--main-color);
  border: 1px solid var(--border);
  min-width: 80px;
  max-width: 120px;
}

.btn:hover{
  background-color: var(--bg-color-hover);
}

/* estilo tareas----------------------- */

/* main ---------------------------- */
@media screen and (min-width: 600px) {
  /* solo como ejemplo momentaneo */
  .directorio{
    overflow: visible;
    display: flex;
    position: inherit;
    justify-content: center;
    align-items: center;

    gap: 20px;

  }
  .links{
    overflow: visible;
    height: auto;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
  }
  .links:hover{
    background-color: var(--bg-color-hover);
  }

  .toggleBtn{
    display: none;
  }

  .logo-div{
    display: flex;
    flex-direction: wrap;
    gap: 5px;
    margin-left: 10px;
    width: 300px;
  }

}